/* src/components/About.css */

.about-container {
    padding: 4em 1em;
    text-align: left;
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .about-content h1 {
    color: var(--font-color-heading);
    margin-bottom: 1em;
    font-size: 3rem;
  }
  
  .about-content p {
    -webkit-font-smoothing: auto;
    line-height: 1.625;
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-size: 1rem;
  }
  