/* src/components/Footer.css */

.footer-container {
    background: var(--background-color);
    padding: 20px;
    text-align: center;
  }
  
  .footer-container p {
    margin: 0;
    padding: 0;
    color: var(--font-color-muted);
  }
  
  .footer-container a {
    color: var(--font-color-bright);
    text-decoration: none;
    margin: 0 5px;
  }
  
  .footer-container a:hover {
    text-decoration: underline;
    color: var(--font-color-heading);
  }
  