/* src/components/Footer.css */

.footer-container {
  padding: 1em;
  text-align: center;
}

.footer-container p {
  margin: 0;
  padding: 0;
  color: var(--font-color-muted);
}

.footer-container a {
  color: var(--font-color-bright);
  text-decoration: none;
  margin: 0 5px;
  display: inline-flex;
  align-items: center;
}

.footer-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}