/* src/components/Header.css */

.header-container {
    background: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .header-container nav {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  
  .header-container nav a {
    color: var(--font-color-bright);
    text-decoration: none;
    padding: 10px 15px;
    background-color: var(--button-background-color);
    transition: background 0.3s, color 0.3s;
  }
  
  .header-container nav a:hover {
    background: var(--border-color-hover);
    color: var(--font-color-heading3);
    border-radius: 4px;
  }

  .nav-link {
    color: var(--font-color-bright);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: background 0.3s, color 0.3s;
  }
  
  .nav-icon {
    margin-right: 8px;
    color: var(--icon-color);
  }
  
  .nav-link:hover {
    background: #555;
    color: white;
    border-radius: 4px;
  }
  