/* src/components/ProjectCard.css */

.project-card {
    background: var(--card-background-color);
    padding: 1.5em;
    margin: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    box-sizing: border-box;
    height: 100%; /* Set a fixed height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-date {
    color: var(--post-time-color);
    font-size: 0.9em;
  }
  
  .project-card h3 {
    color: var(--font-color-heading);
    margin-bottom: 0.5em;
  }
  
  .project-card p {
    color: var(--font-color-base);
    flex-grow: 1; /* Ensures the description takes up available space */
  }
  
  .project-card a {
    display: inline-block;
    margin-top: 1em;
    color: var(--font-color-bright);
    text-decoration: none;
    padding: 0.5em 1em;
    border: 1px solid var(--font-color-bright);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }

  .tech-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .tech-icon {
    width: 24px; /* Adjust size as needed */
    height: 24px;
  }
  
  .project-card a:hover {
    background-color: var(--font-color-bright);
    color: var(--background-color);
  }
  